extends _layout

block title
	title Title of template

block content
	.doc-widgets
		.doc-widgets__row
			.doc-widgets__left
				.doc-widgets__title Расширенный (существующий размер)
				.doc-widget.doc-widget_large
					.doc-widget__logo
						svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
							g
								path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
								c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
								c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
								path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
								c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
								M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
								c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
								path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
								C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
								c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
								c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
								c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
								path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
								c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
								c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
								c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
								c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
								c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
								c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
								c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
								path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
								c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
								C38.3,0.5,38.2,0.3,38,0.3z')
								path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
								c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
								M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
					.doc-widget__left
						a(href="#").doc-widget__img
							img(src="img/widget-img.png", alt="")
						.doc-widget__rating
							.doc-widget__value 4.9
							.doc-widget__stars
								.doc-widget__stars-active(style="width: 100%")
									div
						.doc-widget__review
							a(href="#").doc-widget__review-link 233 отзыва
							.doc-widget__review-icon i
						.doc-widget__schedule
							.doc-widget__schedule-icon
							.doc-widget__schedule-item
								.doc-widget__schedule-day Пн - Пт
								.doc-widget__schedule-time 9:00 - 21:00
							.doc-widget__schedule-item
								.doc-widget__schedule-day Сб
								.doc-widget__schedule-time 9:00 - 19:00
							.doc-widget__schedule-item
								.doc-widget__schedule-day Вс
								.doc-widget__schedule-time 9:00 - 15:00
					.doc-widget__right
						.doc-widget__main
							.doc-widget__title
								a(href="#").doc-widget__title-link Сити клиника
							.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство, Андрология, Венерология, Гастроэнтерология, Гинекология, Диетология, Дневной стационар, Кардиология, Маммология, Эндокринология
							.doc-widget__info
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-years
									.doc-widget__info-text 14 лет
										br
										| опыта
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-ppls
									.doc-widget__info-text Взрослые
										br
										| и дети
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-home
									.doc-widget__info-text Вызов
										br
										| на дом
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-wifi
									.doc-widget__info-text Wi-Fi
										br
										| зона
							.doc-widget__address.doc-widget__address-dashed
								.doc-widget__address-box.doc-widget__address-box-place
									.doc-widget__address-icon.doc-widget__address-icon-place
									.doc-widget__address-text.doc-widget__address-text-dotted
										div г. Киев, пр. Науки, 30
								.doc-widget__address-box.doc-widget__address-box-metro
									.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
									.doc-widget__address-text Димеевская
								.doc-widget__address-box.doc-widget__address-box-marker
									.doc-widget__address-icon.doc-widget__address-icon-marker
									.doc-widget__address-text Голосеевский, Саперная слободка
							.doc-widget__text СИТИ КЛИНИКА - это современный медицинский центр, основная специализация которого эндокринология и гинекология.  В клинике практикуется организация консилиумов, совместные осмотры нескольких врачей, клинические разборы и анализ историй болезни сложных пациентов значительно повышают эффективность оказанной медицинской помощи.
						.doc-widget__bottom
							a(href="#").doc-widget__button Записаться в клинику
			.doc-widgets__right
				.doc-widgets__title Расширенный (600px)
				.doc-widget
					.doc-widget__logo
						svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
							g
								path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
								c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
								c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
								path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
								c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
								M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
								c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
								path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
								C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
								c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
								c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
								c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
								path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
								c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
								c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
								c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
								c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
								c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
								c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
								c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
								path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
								c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
								C38.3,0.5,38.2,0.3,38,0.3z')
								path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
								c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
								M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
					.doc-widget__left
						a(href="#").doc-widget__img
							img(src="img/widget-img.png", alt="")
						.doc-widget__rating
							.doc-widget__value 4.9
							.doc-widget__stars
								.doc-widget__stars-active(style="width: 100%")
									div
						.doc-widget__review
							a(href="#").doc-widget__review-link 233 отзыва
							.doc-widget__review-icon i
						.doc-widget__schedule
							.doc-widget__schedule-icon
							.doc-widget__schedule-item
								.doc-widget__schedule-day Пн - Пт
								.doc-widget__schedule-time 9:00 - 21:00
							.doc-widget__schedule-item
								.doc-widget__schedule-day Сб
								.doc-widget__schedule-time 9:00 - 19:00
							.doc-widget__schedule-item
								.doc-widget__schedule-day Вс
								.doc-widget__schedule-time 9:00 - 15:00
					.doc-widget__right
						.doc-widget__main
							.doc-widget__title
								a(href="#").doc-widget__title-link Сити клиника
							.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство, Андрология, Венерология, Гастроэнтерология, Гинекология, Диетология, Дневной стационар, Кардиология, Маммология, Эндокринология
							.doc-widget__info
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-years
									.doc-widget__info-text 14 лет
										br
										| опыта
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-ppls
									.doc-widget__info-text Взрослые
										br
										| и дети
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-home
									.doc-widget__info-text Вызов
										br
										| на дом
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-wifi
									.doc-widget__info-text Wi-Fi
										br
										| зона
							.doc-widget__address.doc-widget__address-dashed
								.doc-widget__address-box.doc-widget__address-box-place
									.doc-widget__address-icon.doc-widget__address-icon-place
									.doc-widget__address-text.doc-widget__address-text-dotted
										div г. Киев, пр. Науки, 30
								.doc-widget__address-box.doc-widget__address-box-metro
									.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
									.doc-widget__address-text Димеевская
								.doc-widget__address-box.doc-widget__address-box-marker
									.doc-widget__address-icon.doc-widget__address-icon-marker
									.doc-widget__address-text Голосеевский, Саперная слободка
							.doc-widget__text СИТИ КЛИНИКА - это современный медицинский центр, основная специализация которого эндокринология и гинекология.  В клинике практикуется организация консилиумов, совместные осмотры нескольких врачей, клинические разборы и анализ историй болезни сложных пациентов значительно повышают эффективность оказанной медицинской помощи.
						.doc-widget__bottom
							a(href="#").doc-widget__button Записаться в клинику
		.doc-widgets__row
			.doc-widgets__left
				.doc-widgets__title Стандартный (существующий размер)
				.doc-widget.doc-widget_normal
					.doc-widget__logo
						svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
							g
								path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
								c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
								c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
								path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
								c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
								M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
								c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
								path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
								C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
								c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
								c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
								c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
								path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
								c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
								c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
								c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
								c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
								c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
								c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
								c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
								path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
								c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
								C38.3,0.5,38.2,0.3,38,0.3z')
								path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
								c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
								M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
					.doc-widget__left
						a(href="#").doc-widget__img
							img(src="img/widget-img.png", alt="")
						.doc-widget__rating
							.doc-widget__value 4.9
							.doc-widget__stars
								.doc-widget__stars-active(style="width: 100%")
									div
						.doc-widget__review
							a(href="#").doc-widget__review-link 233 отзыва
							.doc-widget__review-icon i
						.doc-widget__schedule
							.doc-widget__schedule-icon
							.doc-widget__schedule-item
								.doc-widget__schedule-day Пн - Пт
								.doc-widget__schedule-time 9:00 - 21:00
							.doc-widget__schedule-item
								.doc-widget__schedule-day Сб
								.doc-widget__schedule-time 9:00 - 19:00
							.doc-widget__schedule-item
								.doc-widget__schedule-day Вс
								.doc-widget__schedule-time 9:00 - 15:00
					.doc-widget__right
						.doc-widget__main
							.doc-widget__title
								a(href="#").doc-widget__title-link Сити клиника
							.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство, Андрология, Венерология, Гастроэнтерология, Гинекология, Диетология, Дневной стационар, Кардиология, Маммология, Эндокринология
							.doc-widget__info
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-years
									.doc-widget__info-text 14 лет
										br
										| опыта
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-ppls
									.doc-widget__info-text Взрослые
										br
										| и дети
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-home
									.doc-widget__info-text Вызов
										br
										| на дом
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-wifi
									.doc-widget__info-text Wi-Fi
										br
										| зона
							.doc-widget__address.doc-widget__address-dashed
								.doc-widget__address-box.doc-widget__address-box-place
									.doc-widget__address-icon.doc-widget__address-icon-place
									.doc-widget__address-text.doc-widget__address-text-dotted
										div г. Киев, пр. Науки, 30
								.doc-widget__address-box.doc-widget__address-box-metro
									.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
									.doc-widget__address-text Димеевская
								.doc-widget__address-box.doc-widget__address-box-marker
									.doc-widget__address-icon.doc-widget__address-icon-marker
									.doc-widget__address-text Голосеевский, Саперная слободка
						.doc-widget__bottom
							a(href="#").doc-widget__button Записаться в клинику
			.doc-widgets__right
				.doc-widgets__title Стандартный (600px)
				.doc-widget
					.doc-widget__logo
						svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
							g
								path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
								c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
								c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
								path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
								c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
								M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
								c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
								path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
								C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
								c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
								c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
								c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
								path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
								c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
								c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
								c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
								c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
								c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
								c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
								c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
								path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
								c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
								C38.3,0.5,38.2,0.3,38,0.3z')
								path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
								c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
								M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
					.doc-widget__left
						a(href="#").doc-widget__img
							img(src="img/widget-img.png", alt="")
						.doc-widget__rating
							.doc-widget__value 4.9
							.doc-widget__stars
								.doc-widget__stars-active(style="width: 100%")
									div
						.doc-widget__review
							a(href="#").doc-widget__review-link 233 отзыва
							.doc-widget__review-icon i
					.doc-widget__right
						.doc-widget__main
							.doc-widget__title
								a(href="#").doc-widget__title-link Сити клиника
							.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство, Андрология, Венерология, Гастроэнтерология, Гинекология, Диетология, Дневной стационар, Кардиология, Маммология, Эндокринология
							.doc-widget__info
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-years
									.doc-widget__info-text 14 лет
										br
										| опыта
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-ppls
									.doc-widget__info-text Взрослые
										br
										| и дети
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-home
									.doc-widget__info-text Вызов
										br
										| на дом
								.doc-widget__info-box
									.doc-widget__info-icon.doc-widget__info-icon-wifi
									.doc-widget__info-text Wi-Fi
										br
										| зона
							.doc-widget__address.doc-widget__address-dashed
								.doc-widget__address-box.doc-widget__address-box-place
									.doc-widget__address-icon.doc-widget__address-icon-place
									.doc-widget__address-text.doc-widget__address-text-dotted
										div г. Киев, пр. Науки, 30
								.doc-widget__address-box.doc-widget__address-box-metro
									.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
									.doc-widget__address-text Димеевская
								.doc-widget__address-box.doc-widget__address-box-marker
									.doc-widget__address-icon.doc-widget__address-icon-marker
									.doc-widget__address-text Голосеевский, Саперная слободка
						.doc-widget__bottom
							a(href="#").doc-widget__button Записаться в клинику
		.doc-widgets__row
			.doc-widgets__left
				.doc-widgets__small
					.doc-widgets__title Стандартный компактный список(существующий размер)
					.doc-small-list
						.doc-widget.doc-widget_small
							.doc-widget__logo
								svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
									g
										path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
										c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
										c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
										path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
										c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
										M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
										c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
										path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
										C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
										c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
										c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
										c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
										path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
										c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
										c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
										c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
										c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
										c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
										c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
										c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
										path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
										c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
										C38.3,0.5,38.2,0.3,38,0.3z')
										path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
										c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
										M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
							.doc-widget__left
								a(href="#").doc-widget__img
									img(src="img/medium-img.png", alt="")
								.doc-widget__rating
									.doc-widget__value 4.9
									.doc-widget__stars
										.doc-widget__stars-active(style="width: 100%")
											div
								.doc-widget__review
									a(href="#").doc-widget__review-link 233 отзыва
							.doc-widget__right
								.doc-widget__main
									.doc-widget__title
										a(href="#").doc-widget__title-link Клиника Доктора Валихновского
									.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство
								.doc-widget__address.doc-widget__address-mod
									.doc-widget__address-box.doc-widget__address-box-place
										.doc-widget__address-icon.doc-widget__address-icon-place
										.doc-widget__address-text.doc-widget__address-text-dotted
											div г. Киев, пр. Науки, 30
									.doc-widget__address-box.doc-widget__address-box-metro
										.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
										.doc-widget__address-text Димеевская
									.doc-widget__address-box.doc-widget__address-box-marker
										.doc-widget__address-icon.doc-widget__address-icon-marker
										.doc-widget__address-text Голосеевский, Саперная слободка
								.doc-widget__bottom
									.doc-schedule
										.doc-schedule__box
											.doc-schedule__box-day Пн - Пт:
											.doc-schedule__box-time 9:00 - 21:00
										.doc-schedule__box
											.doc-schedule__box-day Сб:
											.doc-schedule__box-time 9:00 - 19:00
										.doc-schedule__box
											.doc-schedule__box-day Вс:
											.doc-schedule__box-time выходной
									a(href="#").doc-widget__button Записаться в клинику
						.doc-widget.doc-widget_small
							.doc-widget__left
								a(href="#").doc-widget__img
									img(src="img/medium-img.png", alt="")
								.doc-widget__rating
									.doc-widget__value 4.9
									.doc-widget__stars
										.doc-widget__stars-active(style="width: 100%")
											div
								.doc-widget__review
									a(href="#").doc-widget__review-link 233 отзыва
							.doc-widget__right
								.doc-widget__main
									.doc-widget__title
										a(href="#").doc-widget__title-link Клиника Доктора Валихновского
									.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство
								.doc-widget__address.doc-widget__address-mod
									.doc-widget__address-box.doc-widget__address-box-place
										.doc-widget__address-icon.doc-widget__address-icon-place
										.doc-widget__address-text.doc-widget__address-text-dotted
											div г. Киев, пр. Науки, 30
									.doc-widget__address-box.doc-widget__address-box-metro
										.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
										.doc-widget__address-text Димеевская
									.doc-widget__address-box.doc-widget__address-box-marker
										.doc-widget__address-icon.doc-widget__address-icon-marker
										.doc-widget__address-text Голосеевский, Саперная слободка
								.doc-widget__bottom
									.doc-schedule
										.doc-schedule__box
											.doc-schedule__box-day Пн - Пт:
											.doc-schedule__box-time 9:00 - 21:00
										.doc-schedule__box
											.doc-schedule__box-day Сб:
											.doc-schedule__box-time 9:00 - 19:00
										.doc-schedule__box
											.doc-schedule__box-day Вс:
											.doc-schedule__box-time выходной
									a(href="#").doc-widget__button Записаться в клинику
						.doc-widget.doc-widget_small
							.doc-widget__left
								a(href="#").doc-widget__img
									img(src="img/medium-img.png", alt="")
								.doc-widget__rating
									.doc-widget__value 4.9
									.doc-widget__stars
										.doc-widget__stars-active(style="width: 100%")
											div
								.doc-widget__review
									a(href="#").doc-widget__review-link 233 отзыва
							.doc-widget__right
								.doc-widget__main
									.doc-widget__title
										a(href="#").doc-widget__title-link Клиника Доктора Валихновского
									.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство
								.doc-widget__address.doc-widget__address-mod
									.doc-widget__address-box.doc-widget__address-box-place
										.doc-widget__address-icon.doc-widget__address-icon-place
										.doc-widget__address-text.doc-widget__address-text-dotted
											div г. Киев, пр. Науки, 30
									.doc-widget__address-box.doc-widget__address-box-metro
										.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
										.doc-widget__address-text Димеевская
									.doc-widget__address-box.doc-widget__address-box-marker
										.doc-widget__address-icon.doc-widget__address-icon-marker
										.doc-widget__address-text Голосеевский, Саперная слободка
								.doc-widget__bottom
									.doc-schedule
										.doc-schedule__box
											.doc-schedule__box-day Пн - Пт:
											.doc-schedule__box-time 9:00 - 21:00
										.doc-schedule__box
											.doc-schedule__box-day Сб:
											.doc-schedule__box-time 9:00 - 19:00
										.doc-schedule__box
											.doc-schedule__box-day Вс:
											.doc-schedule__box-time выходной
									a(href="#").doc-widget__button Записаться в клинику
				.doc-widgets__small
					.doc-widgets__title Стандартный компактный список(существующий размер)
					.doc-widget.doc-widget_small
						.doc-widget__logo
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
								g
									path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
									c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
									c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
									path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
									c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
									M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
									c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
									path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
									C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
									c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
									c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
									c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
									path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
									c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
									c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
									c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
									c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
									c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
									c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
									c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
									path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
									c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
									C38.3,0.5,38.2,0.3,38,0.3z')
									path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
									c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
									M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
						.doc-widget__left
							a(href="#").doc-widget__img
								img(src="img/medium-img.png", alt="")
							.doc-widget__rating
								.doc-widget__value 4.9
								.doc-widget__stars
									.doc-widget__stars-active(style="width: 100%")
										div
							.doc-widget__review
								a(href="#").doc-widget__review-link 233 отзыва
						.doc-widget__right
							.doc-widget__main
								.doc-widget__title
									a(href="#").doc-widget__title-link Клиника Доктора Валихновского
								.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство
							.doc-widget__address.doc-widget__address-mod
								.doc-widget__address-box.doc-widget__address-box-place
									.doc-widget__address-icon.doc-widget__address-icon-place
									.doc-widget__address-text.doc-widget__address-text-dotted
										div г. Киев, пр. Науки, 30
								.doc-widget__address-box.doc-widget__address-box-metro
									.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
									.doc-widget__address-text Димеевская
								.doc-widget__address-box.doc-widget__address-box-marker
									.doc-widget__address-icon.doc-widget__address-icon-marker
									.doc-widget__address-text Голосеевский, Саперная слободка
							.doc-widget__bottom
								.doc-schedule
									.doc-schedule__box
										.doc-schedule__box-day Пн - Пт:
										.doc-schedule__box-time 9:00 - 21:00
									.doc-schedule__box
										.doc-schedule__box-day Сб:
										.doc-schedule__box-time 9:00 - 19:00
									.doc-schedule__box
										.doc-schedule__box-day Вс:
										.doc-schedule__box-time выходной
								a(href="#").doc-widget__button Записаться в клинику
				.doc-widgets__small
					.doc-widgets__title Тизер (600px)
					.doc-teaser
						.doc-teaser__logo
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
								g
									path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
									c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
									c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
									path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
									c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
									M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
									c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
									path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
									C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
									c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
									c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
									c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
									path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
									c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
									c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
									c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
									c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
									c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
									c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
									c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
									path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
									c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
									C38.3,0.5,38.2,0.3,38,0.3z')
									path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
									c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
									M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
						a(href="#").doc-teaser__img
							img(src="img/compact-img.png", alt="")
						.doc-teaser__right
							a(href="#").doc-teaser__button Записаться в клинику
						.doc-teaser__main
							.doc-teaser__title
								a(href="#").doc-teaser__title-link Медицинская сеть “Добробут”
							.doc-teaser__tags Терапия, Урология,Эндокринология.
							.doc-teaser__info
								.doc-teaser__rating
									.doc-teaser__value 4.9
									.doc-teaser__stars
										.doc-teaser__stars-active(style="width: 100%")
											div
								.doc-teaser__review
									a(href="#").doc-teaser__review-link 155 отзывов
				.doc-widgets__small
					.doc-widgets__title Тизер (300px)
					.doc-teaser.doc-teaser_small
						.doc-teaser__logo
							svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
								g
									path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
									c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
									c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
									path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
									c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
									M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
									c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
									path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
									C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
									c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
									c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
									c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
									path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
									c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
									c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
									c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
									c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
									c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
									c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
									c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
									path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
									c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
									C38.3,0.5,38.2,0.3,38,0.3z')
									path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
									c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
									M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
						a(href="#").doc-teaser__img
							img(src="img/compact-img.png", alt="")
						.doc-teaser__main
							.doc-teaser__title
								a(href="#").doc-teaser__title-link Медицинская сеть “Добробут”
							.doc-teaser__right
								a(href="#").doc-teaser__button Записаться
							.doc-teaser__tags Терапия, Урология,Эндокринология.
							.doc-teaser__info
								.doc-teaser__rating
									.doc-teaser__value 4.9
									.doc-teaser__stars
										.doc-teaser__stars-active(style="width: 100%")
											div
			.doc-widgets__right
				.doc-widgets__compacts
					.doc-widgets__compact
						.doc-widgets__title Компактный (240px)
						.doc-compact
							.doc-compact__logo
								svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
									g
										path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
										c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
										c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
										path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
										c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
										M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
										c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
										path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
										C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
										c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
										c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
										c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
										path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
										c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
										c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
										c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
										c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
										c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
										c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
										c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
										path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
										c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
										C38.3,0.5,38.2,0.3,38,0.3z')
										path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
										c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
										M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
							.doc-compact__main
								.doc-compact__left
									a(href="#").doc-compact__img
										img(src="img/compact-img.png", alt="")
									.doc-compact__review
										a(href="#").doc-compact__review-link 233 отзыва
								.doc-compact__right
									.doc-compact__title
										a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
									.doc-compact__text Терапия, Урология, Эндокринология, Гинекология
									.doc-compact__rating
										.doc-compact__value 4.9
										.doc-compact__stars
											.doc-compact__stars-active(style="width: 100%")
												div
								.doc-compact__bottom
									.doc-compact__button Записаться в клинику
					.doc-widgets__compact
						.doc-widgets__title Компактный (240px)
						.doc-compact
							.doc-compact__logo
								svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
									g
										path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
										c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
										c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
										path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
										c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
										M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
										c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
										path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
										C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
										c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
										c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
										c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
										path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
										c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
										c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
										c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
										c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
										c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
										c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
										c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
										path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
										c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
										C38.3,0.5,38.2,0.3,38,0.3z')
										path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
										c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
										M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
							.doc-compact__main
								.doc-compact__left
									a(href="#").doc-compact__img
										img(src="img/compact-img.png", alt="")
									.doc-compact__review
										a(href="#").doc-compact__review-link 233 отзыва
								.doc-compact__right
									.doc-compact__title
										a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
									.doc-compact__text Терапия, Урология, Эндокринология, Гинекология
									.doc-compact__rating
										.doc-compact__value 4.9
										.doc-compact__stars
											.doc-compact__stars-active(style="width: 100%")
												div
								.doc-compact__bottom
									.doc-compact__button Записаться в клинику
							.doc-compact__comments
								.doc-compact__comment
									.doc-compact__comment-name Карина
									.doc-compact__comment-date 21.01.2015
									.doc-compact__comment-text Небольшая клиника, там вполне комфортно, молодой, хороший персонал.
									.doc-compact__likebox.doc-compact__likebox-like
										.doc-compact__likebox-icon
										.doc-compact__likebox-text Рекомендует клинику
					.doc-widgets__compact
						.doc-widgets__title Компактный (240px)
						.doc-compact-list
							.doc-compact
								.doc-compact__logo
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
										g
											path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
											c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
											c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
											path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
											c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
											M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
											c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
											path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
											C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
											c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
											c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
											c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
											path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
											c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
											c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
											c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
											c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
											c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
											c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
											c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
											path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
											c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
											C38.3,0.5,38.2,0.3,38,0.3z')
											path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
											c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
											M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
								.doc-compact__main
									.doc-compact__left
										a(href="#").doc-compact__img
											img(src="img/compact-img.png", alt="")
										.doc-compact__review
											a(href="#").doc-compact__review-link 233 отзыва
									.doc-compact__right
										.doc-compact__title
											a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
										.doc-compact__text Терапия, Урология, Эндокринология...
											a(href="#").doc-compact__link еще 17
										.doc-compact__rating
											.doc-compact__value 4.9
											.doc-compact__stars
												.doc-compact__stars-active(style="width: 100%")
													div
									.doc-compact__bottom
										a(href="#").doc-compact__button Записаться в клинику
							.doc-compact
								.doc-compact__main
									.doc-compact__left
										a(href="#").doc-compact__img
											img(src="img/compact-img.png", alt="")
										.doc-compact__review
											a(href="#").doc-compact__review-link 233 отзыва
									.doc-compact__right
										.doc-compact__title
											a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
										.doc-compact__text Терапия, Урология, Эндокринология...
											a(href="#").doc-compact__link еще 17
										.doc-compact__rating
											.doc-compact__value 4.9
											.doc-compact__stars
												.doc-compact__stars-active(style="width: 100%")
													div
									.doc-compact__bottom
										a(href="#").doc-compact__button Записаться в клинику
							.doc-compact
								.doc-compact__main
									.doc-compact__left
										a(href="#").doc-compact__img
											img(src="img/compact-img.png", alt="")
										.doc-compact__review
											a(href="#").doc-compact__review-link 233 отзыва
									.doc-compact__right
										.doc-compact__title
											a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
										.doc-compact__text Терапия, Урология, Эндокринология...
											a(href="#").doc-compact__link еще 17
										.doc-compact__rating
											.doc-compact__value 4.9
											.doc-compact__stars
												.doc-compact__stars-active(style="width: 100%")
													div
									.doc-compact__bottom
										a(href="#").doc-compact__button Записаться в клинику
				.doc-widgets__smalls
					.doc-widgets__small
						.doc-widgets__title Компактный (320px)
						.doc-compact.doc-compact_large
							.doc-compact__logo
								svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
									g
										path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
										c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
										c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
										path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
										c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
										M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
										c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
										path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
										C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
										c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
										c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
										c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
										path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
										c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
										c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
										c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
										c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
										c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
										c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
										c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
										path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
										c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
										C38.3,0.5,38.2,0.3,38,0.3z')
										path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
										c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
										M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
							.doc-compact__main
								.doc-compact__left
									a(href="#").doc-compact__img
										img(src="img/compact-img.png", alt="")
								.doc-compact__right
									.doc-compact__title
										a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
									.doc-compact__text Терапия, Урология, Эндокринология, Гинекология
									.doc-compact__rating
										.doc-compact__value 4.9
										.doc-compact__stars
											.doc-compact__stars-active(style="width: 100%")
												div
									.doc-compact__review
										a(href="#").doc-compact__review-link 233 отзыва
								.doc-compact__bottom
									.doc-compact__button Записаться в клинику
					.doc-widgets__small
						.doc-widgets__title Компактный (320px)
						.doc-compact.doc-compact_large
							.doc-compact__logo
								svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 13', style='enable-background:new 0 0 44 13;', xml:space='preserve')
									g
										path(d='M19.1,4.9H18V3.8c0-0.2-0.2-0.4-0.4-0.4h-1.1c-0.2,0-0.4,0.2-0.4,0.4v1.1h-1.1\
										c-0.2,0-0.4,0.2-0.4,0.4v1.1c0,0.2,0.2,0.4,0.4,0.4H16v1.1c0,0.2,0.2,0.4,0.4,0.4h1.1c0.2,0,0.4-0.2,0.4-0.4V6.8h1.1\
										c0.2,0,0.4-0.2,0.4-0.4V5.3C19.5,5,19.3,4.9,19.1,4.9z')
										path(d='M17,0.1c-1.5,0-2.9,0.6-4,1.7c-1.9,1.9-2.2,4.7-0.9,6.9l-1.9,1.9c-0.3,0.3-0.3,0.7,0,1l1,1\
										c0.3,0.3,0.7,0.3,1,0l1.9-1.9c0.9,0.5,1.9,0.8,2.9,0.8c1.5,0,2.9-0.6,4-1.7c2.2-2.2,2.2-5.8,0-8.1C19.9,0.7,18.5,0.1,17,0.1z\
										M19.4,8.2c-0.6,0.6-1.5,1-2.4,1c-0.9,0-1.8-0.4-2.4-1c-0.6-0.6-1-1.5-1-2.4c0-0.9,0.4-1.8,1-2.4c0.6-0.6,1.5-1,2.4-1\
										c0.9,0,1.8,0.4,2.4,1C20.7,4.7,20.7,6.9,19.4,8.2z')
										path(d='M10.6,6.3c0-0.3,0-0.5,0-0.5c0-0.8-0.1-1.5-0.4-2.2C9.9,2.9,9.5,2.4,9,1.9\
										C8.5,1.4,7.9,1,7.2,0.7C6.4,0.4,5.3,0.3,5.3,0.3c-0.3,0-0.7,0-1,0H1c-0.3,0-0.5,0.2-0.5,0.5v10c0,0.3,0.2,0.5,0.5,0.5h3.8\
										c0.9,0,1.6-0.1,2.4-0.4c0.7-0.3,1.3-0.7,1.9-1.2C9.5,9.2,9.9,8.6,10.2,8C10.5,7.3,10.6,6.3,10.6,6.3z M7.9,7.2\
										c-0.2,0.4-0.4,0.7-0.7,1c-0.3,0.3-0.6,0.5-1,0.7C5.7,9,5.3,9.1,5.3,9.1c-0.3,0-0.7,0-1,0H2.9V2.5h1.9c0.5,0,0.9,0.1,1.4,0.2\
										c0.4,0.2,0.8,0.4,1,0.7c0.3,0.3,0.5,0.6,0.7,1.1C8,4.9,8.1,5.3,8.1,5.3c0,0.3,0,0.5,0,0.5C8.1,6.3,8,6.8,7.9,7.2z')
										path(d='M32.3,8.3c-0.2-0.2-0.5-0.2-0.7,0c0,0-0.5,0.4-0.9,0.6c-0.4,0.2-1,0.3-1.6,0.3\
										c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.8-0.2-0.8c0-0.3,0-0.5,0-0.5\
										c0-0.5,0.1-0.9,0.2-1.3c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.7c0.4-0.2,0.8-0.3,1.3-0.3c0.6,0,1.1,0.1,1.5,0.3\
										c0.4,0.2,0.9,0.6,0.9,0.6c0.2,0.2,0.5,0.1,0.7-0.1l0.9-1c0.2-0.2,0.2-0.5,0-0.7c0,0-0.2-0.1-0.4-0.3c-0.3-0.2-0.6-0.4-1-0.5\
										c-0.3-0.1-0.7-0.3-1.2-0.3C30,0.2,29.5,0.1,29,0.1c-0.8,0-1.6,0.1-2.3,0.4c-0.7,0.3-1.3,0.7-1.8,1.2c-0.5,0.5-0.9,1.1-1.2,1.8\
										c-0.3,0.7-0.4,1.7-0.4,1.7c0,0.3,0,0.5,0,0.5c0,0.8,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.1,0.9,1.8,1.2\
										c0.7,0.3,1.4,0.4,2.2,0.4c0.5,0,1,0,1.4-0.1c0.4-0.1,0.8-0.2,1.2-0.4c0.4-0.2,0.7-0.4,1-0.6c0.3-0.2,0.5-0.5,0.5-0.5\
										c0.2-0.2,0.2-0.5,0-0.7L32.3,8.3z')
										path(d='M38,0.3h-0.9c-0.1,0-0.3,0.1-0.3,0.3V3c0,0.4-0.3,0.8-0.9,0.8c-0.6,0-0.9-0.4-0.9-0.8V0.6\
										c0-0.1-0.1-0.3-0.3-0.3H34c-0.1,0-0.3,0.1-0.3,0.3V3c0,1.1,0.7,2,2.3,2c1.5,0,2.3-0.8,2.3-2c0-1.1,0-2.4,0-2.4\
										C38.3,0.5,38.2,0.3,38,0.3z')
										path(d='M43.5,4.7L42,0.6c0-0.1-0.2-0.2-0.3-0.2h-1.2c-0.1,0-0.3,0.1-0.3,0.2l-1.5,4.1\
										c0,0.1,0,0.2,0.2,0.2h1.1c0.1,0,0.3-0.1,0.3-0.2l0.1-0.3h1.6l0.1,0.3c0,0.1,0.2,0.2,0.3,0.2h1.1C43.5,4.9,43.5,4.8,43.5,4.7z\
										M40.6,3.2c0,0,0.5-1.5,0.5-1.5c0,0,0.5,1.5,0.5,1.5H40.6z')
							.doc-compact__main
								.doc-compact__left
									a(href="#").doc-compact__img
										img(src="img/compact-img.png", alt="")
								.doc-compact__right
									.doc-compact__title
										a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
									.doc-compact__text Терапия, Урология, Эндокринология, Гинекология
									.doc-compact__rating
										.doc-compact__value 4.9
										.doc-compact__stars
											.doc-compact__stars-active(style="width: 100%")
												div
									.doc-compact__review
										a(href="#").doc-compact__review-link 233 отзыва
								.doc-compact__bottom
									.doc-compact__button Записаться в клинику
							.doc-compact__comments
								.doc-compact__comment
									.doc-compact__comment-name Карина
									.doc-compact__comment-date 21.01.2015
									.doc-compact__comment-text Небольшая клиника, там вполне комфортно, молодой, хороший персонал.
									.doc-compact__likebox.doc-compact__likebox-like
										.doc-compact__likebox-icon
										.doc-compact__likebox-text Рекомендует клинику
		